@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
.carousel {}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 100vh;
    background-color: #777;
}
.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}
.devsstore-nav {
    background: rgba(25, 25, 25, 0);
    /* background: #333; */
    box-shadow: -1px 3px 3px #aaa;
}
.devsstore-title {
    font-family: 'Kaushan Script', cursive;
}
.devsstore-nav a {
    color: #fff;
    transition: all .25s ease-out;
}
.devsstore-nav a:hover {
    color: #bbb;
}
